$h1-font-size: rem-calc(40);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

$input-border-width: 1px;

$abbr-underline: none; // was 1px dotted $black;

$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Cambria, "Times New Roman", Times, serif;