*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Configuration files that shouldn't be public
etc/scobolsolo/authentication.properties
etc/server.properties

# Libraries that aren't licensed for public posting
lib/siliconage.jar
lib/opal.jar
doclib/siliconage-src.jar
doclib/opal-src.jar

# Runtime stuff
tomcat/**

# Production files
data/uploaded/**
data/generated-spreadsheets/**

# Logs
scobolsolo.log

# Development stuff
ant/**
build.bash
src/com/scobolsolo/StandaloneTest.java
to-do.txt

# Cache crap
web-components/scss/.sass-cache

